/* DEBUG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90%;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
}

#title-page {
    font-size: 46px;
    text-align: center;
    color: rgb(236, 70, 112);
    font-weight: 900;
    margin: 20px 0;
}

.card-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}

.card {
    width: calc((100% - 60px) / 3);
    display: flex;
    gap: 30px;
    align-items: center;
    line-height: 2;
    background-color: black;
    color: white;
    font-size: 18px;
}

.img-container img {
    max-width: 140px;
}

.email {
    color: lightskyblue;
}